.clearBoth {
    clear: both;
}

.sc-content p.maClasse, .sc-content div.maClasse p {
    padding: 5px;
    color: white;
    background-color: black;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*reset*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, .lienseo {
    text-decoration: none;
}

input[type=submit], input[type=text], input[type=button], input[type=email], input[type=tel], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

body *, body *:hover {
    transition: all 0.6s ease-out;
}

/*********FONT********/
@font-face {
    font-family: 'a_massir_ballpointregular';
    src: url('../font/a-massir-ballpoint-webfont.woff2') format('woff2'),
    url('../font/a-massir-ballpoint-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*********************/

/* VIEWPORT CSS3 */
* {
    -webkit-text-size-adjust: none;
}

@viewport {
    zoom: 1;
}

-webkit-

@viewport {
    zoom: 1;
}

-ms-

@viewport {
    zoom: 1;
}

-moz-

@viewport {
    zoom: 1;
}

-o-

@viewport {
    zoom: 1;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

img {
    height: auto
}

.clear_both {
    display: block;
    clear: both;
}

body {
    position: relative;
    overflow-x: hidden;
    color: #fff;
    min-height: 100vh;
    background-image: url(../gifs/background.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    margin: auto;
    padding: 0;
}

.container {
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.logo {
    display: block;
    width: 100%;
    max-width: 600px;
    line-height: 0;
    margin: auto
}

.logo img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/*** MENU BARBECUE ***/
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2c4b3b;
    text-align: right;
    color: #fff;
    right: -250px;
    top: 0;
    z-index: 10;
}

nav.show_menu {
    right: 0;
}

nav ul {
    display: block;
    text-align: right;
}

nav ul li {
    display: block;
    text-align: right;
}

nav ul li + li {
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li a {
    color: #fff;
    padding: 15px;
    font-size: 25px;
    line-height: 25px;
    display: block;
    text-decoration: none !important;
}

nav ul li a:hover {
    color: #fff !important;
    background: #65927b !important;
    text-decoration: none !important;
}

span.btn_menu {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

span.btn_menu.btn_active {
    right: 270px;
}

.fa {
    color: #f6e27b !important;
}

/*connexion FB*/
div#content_connexion_fb {
    padding-top: 20px;
    max-width: 1100px;
    position: relative;
}

.bloc_connexion_fb {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px auto 0;
    padding: 25px 15px 65px;
    left: -50px;
    background: #2c4b3b;
    border: 10px solid #84451a;
}

.btn_fb {
    text-align: center;
    line-height: 0;
    width: 100%;
}

.btn_fb span {
    display: inline-block;
    width: 100%;
    max-width: 90px;
    height: auto;
}

.btn_fb span img {
    width: 100%;
}

.txt_connexion_fb {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    line-height: 0;
}

.txt_connexion_fb img {
    width: 100%;
    max-width: 260px;
}

.btn_elaab {
    width: 100%;
    max-width: 120px;
    position: relative;
    left: -50px;
    margin: -60px auto 0;
}

.btn_elaab button {
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

.btn_elaab button img {
    width: 100%
}

.btn_elaab button:hover {
    opacity: 0.7;
}

div#btn_popup {
    position: absolute;
    left: 0px;
    bottom: 100px;
    width: 20%;
}

.btn_cartable {
    width: 100%;
    max-width: 250px;
    position: relative;
    margin: 0px 0 0;
    text-align: center;
    position: absolute;
    bottom: 70px;
    right: 0;
}

.btn_cartable img {
    width: 100%;
}

.btn_cartable a {
    display: inline-block;
    border: 4px solid #4a1603;
    border-radius: 25px;
    background: #037664;
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    padding: 5px 20px;
    margin: 15px auto 0;
}

.btn_cartable a:hover {
    opacity: 0.6;
}

/*inscription*/
div#content_Inscription {
    padding-top: 50px;
    padding-bottom: 40px;
}

.bloc_inscription {
    position: relative;
    width: 100%;
    max-width: 440px;
    margin: 10px auto 25px;
    padding: 15px 0 20px;
    text-align: right;
    left: -55px;

    background: #2c4b3b;
    border: 10px solid #84451a;
}

.bloc_inscription form {
    padding: 0 75px 0 35px;
}

.bloc_inscription form p {
    text-align: right;
    margin: 0;
}

.bloc_inscription form p label {
    display: inline-block;
    width: auto;
    min-width: 105px;
    text-align: center;
    border: 3px solid #8a4a36;
    background-color: #3b784f;
    border-radius: 6px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    padding: 0 7px;
}

.bloc_inscription form p input[type=password],
.bloc_inscription form p input[type=text],
.bloc_inscription form p input[type=tel],
.bloc_inscription form p input[type=number],
.bloc_inscription form p input[type=email],
.bloc_inscription form p input[type=date],
.bloc_inscription form p select,
.bloc_inscription form p textarea:not(.mce-textbox) {
    font-family: 'Tajawal', sans-serif;
    display: inline-block;
    width: 100%;
    height: 47px;
    background: #93cda6;
    border: 3px solid #704031;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    clear: both;
    margin: 0 0 20px;
    text-align: right;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}

.bloc_inscription form p.submit_inscription {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -58px;
}

p.submit_inscription button {
    background: none;
    border: none;
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

p.submit_inscription button:hover {
    opacity: 0.8;
}

p.submit_inscription button img {
    width: 100%;
}


/* BRAVO - tirage au sort */
div#content_Tirage_au_sort {
    padding-top: 50px;
}

.bloc_bravo {
    position: relative;
    width: 100%;
    max-width: 440px;
    margin: 20px auto 25px;
    padding: 35px 0 20px;
    text-align: right;
    left: -55px;
    background-size: cover;
    background-color: #2c4b3b;
    border: 7px solid #84451a;
}

.bloc_bravo img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
}

a.fb_link {
    display: block;
    width: 200px;
    color: #fff;
    height: 119px;
    text-align: center;
    background-image: url(../gifs/continuer.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    margin: 0 auto 0;
    position: relative;
    top: 72px;
}

a.fb_link:hover {
    opacity: 0.6;
}


/*bloc matiere*/
body.page-matieres {
    background-position: 40% 50%;
}

div#content_matieres {
    padding-top: 30px;
    text-align: right;
    max-width: 1100px;
}

div#content_matieres .logo {
    display: inline-block;
}

.bloc_matieres {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: -160px 0 0;
    position: relative;
    z-index: 9;
}

.bloc_matieres a {
    display: inline-block;
    width: 205px;
    height: 226px;
    margin: 5px;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    font-size: 37px;
    font-weight: 500;
    line-height: 206px;
    text-align: center;
    background-color: #294938;
    border: 6px solid #84451a;
}

.bloc_matieres a:hover {
    opacity: 0.9;
}


/*bloc quizz*/
body.page_quizz {
    background-image: url(../gifs/background_page_quizz.jpg);
}

div#content_quizz {
    padding-top: 20px;
    text-align: right;
    max-width: 81%;
}

.bloc_quizz {
    position: relative;
}

.question {
    position: relative;
    padding: 20px 150px 20px 30px;
    z-index: 1;
    margin: auto;
    width: 100%;
    max-width: 84%;
    text-align: right;
    color: #FFF;
    font-family: 'Harmattan', sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 45px;
    background-size: cover;
    background-color: #037664;
    border: 8px solid #762000;
    border-radius: 50%;
}

.bloc_proposition {
    width: 100%;
    max-width: 100%;
    margin: -5px auto 0;
    overflow: hidden;
    background: #01867c;
    border-radius: 140px;
    border: 10px solid #63260a;
    padding-bottom: 5px;
}

.content_proposition {
    padding: 25px 115px 20px 50px;
    text-align: center;
}

.image_question {
    line-height: 0;
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px 0 0;
}

.image_question img {
    width: 100%;
}


.liste_proposition {
    display: inline-block;
    vertical-align: middle;
    width: 42%;
}

.liste_proposition ul {
    display: block;
    text-align: right;
    padding: 0;
}

.liste_proposition li {
    color: #FFF;
    font-family: 'Harmattan', sans-serif;
    font-size: 70px;
    position: relative;
    padding-right: 60px;
    line-height: 70px;
    margin: 0 auto 20px;
}

.liste_proposition li:before {
    content: "- 1";
    color: #13f2e1;
    position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -4px;
    font-weight: 700;
    font-size: 50px;
}

.liste_proposition li + li:before {
    content: "- 2";
}

.liste_proposition li + li + li:before {
    content: "- 3";
}

.theme_quizz {
    position: absolute;
    z-index: 2;
    right: 100px;
    top: -10px;
    width: 130px;
    height: 106px;
    line-height: 106px;
    color: #fff;
    text-align: center;
    font-size: 33px;
    font-family: 'Markazi Text', serif;
    background-image: url(../gifs/bg_theme.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.choix_reponse {
    position: absolute;
    left: -60px;
    top: 120px;
}

.choix_reponse button {
    display: block;
    margin: 0 auto 20px;
    width: 110px;
    height: 90px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 90px;
    font-weight: 700;
    cursor: pointer;

    border: none;
    background: none;
    background-image: url(../gifs/bg_theme.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.choix_reponse button:hover {
    opacity: 0.8;
}

.btn_retour {
    text-align: center;
    margin: 0 auto 10px;
}

/*.btn_retour a {*/
/*    display: inline-block;*/
/*    border: 4px solid #4a1603;*/
/*    border-radius: 25px;*/
/*    background: #037664;*/
/*    color: #fff;*/
/*    font-size: 30px;*/
/*    line-height: 45px;*/
/*    padding: 5px 20px;*/
/*    margin: auto;*/
/*}*/

/*.btn_retour a:hover {*/
/*    opacity: 0.6;*/
/*}*/

.btn_retour_img {
    display: inline-block;
    margin: auto;
}

.btn_retour_img:hover {
    opacity: 0.6;
}

/*page instruction*/
body.page_instruction {
    background-image: url(../gifs/background_page_quizz.jpg);
}

div#content_instruction {
    padding-top: 20px;
    text-align: right;
    max-width: 82%;
}

.bloc_instruction {
    position: relative;
}

.page_instruction .content_proposition {
    padding: 20px 70px 20px !important;
    text-align: center;
}

.bloc_instruction .question {
    text-align: center !important;
}

.bloc_instruction .content_proposition > p {
    text-align: center;
    font-size: 45px;
    color: #fff;
    font-family: 'Mirza', cursive;
    font-weight: 500;
    padding: 0 30px;
    margin: 0 auto 40px;
}

img#img_cartable {
    width: 80%;
    max-width: 240px;
}

/************************************* TABLETTE ***************************************/

@media screen and (max-width: 1200px) {

    /*** page connexion FB ***/
    .bloc_connexion_fb {
        left: -150px;
        max-width: 350px;
    }

    .btn_elaab {
        left: -150px;
    }

    div#btn_popup {
        width: 30%;
    }

    .btn_cartable {
        right: 40px;
    }

    /*** Page matiÃ¨res ***/
    div#content_matieres .logo {
        display: block;
    }

    .bloc_matieres {
        margin: 35px auto 0;
        text-align: center;
    }


    /*** page quizz ***/
    div#content_quizz {
        padding-top: 50px;
        text-align: right;
        max-width: 95%;
    }

    .question {
        max-width: 100%;
        height: auto;
        min-height: inherit;
        background: #09846f;
        border-radius: 100%;
        border: 4px solid #4a1603;
        padding: 5px 115px 5px 115px;
    }

    .theme_quizz {
        right: -15px;
    }

    .bloc_proposition {
        background: #128472;
        border-radius: 50px;
        border: 4px solid #4a1603;
        height: auto;
        min-height: inherit;
    }

    .content_proposition {
        padding: 20px 50px 10px 50px;
    }

    .image_question {
        width: 40%;
        margin: 0 5% 0 0;
    }

    .liste_proposition {
        width: 50%;
    }

    .liste_proposition li {
        font-size: 70px;
    }

    .choix_reponse {
        position: relative;
        left: auto;
        top: auto;
        margin-top: 25px;
    }

    .choix_reponse button {
        display: inline-block;
        vertical-align: top;
        margin: 8px;
    }


    /*** page instruction ***/
    div#content_instruction {
        padding-top: 50px;
        text-align: right;
        max-width: 95%;
    }

    .page_instruction .content_proposition {
        padding: 20px 50px 40px !important;
    }

    .bloc_inscription {
        left: auto;
    }

    div#content_instruction .bloc_proposition {
        padding-bottom: 0;
    }

    .bloc_instruction .content_proposition > p {
        font-size: 35px;
    }

    img#img_cartable {
        width: 80%;
        max-width: 250px;
    }


    /*** page bravo ***/
    .bloc_bravo {
        left: auto;
    }

}


/************************************** MINI TABLETTE ************************************/

@media screen and (max-width: 767px) {

    /*** page connexion FB ***/
    .bloc_connexion_fb {
        left: auto;
        max-width: 450px;
    }

    .btn_elaab {
        left: auto;
    }

    div#btn_popup {
        position: relative;
        margin: 30px auto 0;
        bottom: auto;
        right: auto;
        width: 40%;
        max-width: 220px;
    }

    .btn_cartable {
        right: auto;
        position: relative;
        margin: 35px auto 0;
        bottom: auto;
    }

    /*** page inscription ***/
    .bloc_inscription {
        left: auto;
    }

    /*** page matiÃ¨res ***/
    .bloc_matieres {
        text-align: center;
    }

    /*** page bravo ***/
    .bloc_bravo {
        left: auto;
    }

    /*** page quizz ***/
    .question {
        font-size: 32px;
    }

    .theme_quizz {
        font-size: 27px;
    }


    .image_question {
        width: 50%;
    }

    .liste_proposition {
        width: 40%
    }

    .liste_proposition li {
        font-size: 45px;
        line-height: 50px;
        padding-right: 30px;
    }

    .liste_proposition li:before {
        font-size: 30px;
    }

    .choix_reponse button {
        font-size: 25px;
        width: 70px;
        height: 58px;
        line-height: 58px;
    }

    /*** page instruction ***/
    .page_instruction .content_proposition {
        padding: 50px 20px 40px !important;
    }


}


/************************************** MOBILE ************************************/

@media screen and (max-width: 599px) {

    /* page connexion FB*/
    div#content_connexion_fb {
        padding: 50px 10px 20px;
    }

    .btn_fb span {
        max-width: 50px;
    }

    .txt_connexion_fb {
        max-width: 70%;
    }

    .btn_elaab {
        max-width: 100px;
    }

    .bloc_connexion_fb {
        min-height: inherit;
        background: #2c4b3b;
        border: 5px solid #84451a;
        padding: 20px 20px 45px;
    }

    .txt_connexion_fb {
        max-width: 70%;
        margin: 25px auto 15px;
    }

    div#btn_popup {
        width: 65%;
    }


    /*** page inscription ***/
    div#content_Inscription {
        padding: 50px 10px 20px;
    }

    .bloc_inscription {
        min-height: inherit;
        background: #2c4b3b;
        border: 5px solid #84451a;
        padding: 20px 20px 100px;
        height: auto;
    }

    .bloc_inscription form {
        padding: 0;
    }

    .bloc_inscription form p input[type=password],
    .bloc_inscription form p input[type=text],
    .bloc_inscription form p input[type=number],
    .bloc_inscription form p input[type=date],
    .bloc_inscription form p input[type=tel],
    .bloc_inscription form p input[type=email],
    .bloc_inscription form p textarea:not(.mce-textbox) {
        width: 100%;
    }

    /*** page matiÃ¨re ***/
    div#content_matieres {
        padding: 50px 10px 20px;
    }

    .bloc_matieres a {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        height: 100px;
        margin: 5px;
        font-size: 23px;
        line-height: 100px;
        background: #2c4b3b;
        border: 4px solid #84451a;
    }

    /*** page tirage au sort ***/
    .bloc_bravo {
        min-height: inherit;
        background: #2c4b3b;
        border: 5px solid #84451a;
        padding: 30px 20px;
        height: auto;
    }

    .bloc_bravo img {
        width: 85%;
    }

    a.fb_link {
        top: 20px;
    }

    /*** page quizz ***/
    .bloc_quizz {
        padding-top: 110px;
    }

    .question {
        padding: 5px 15px;
        font-size: 23px;
        min-height: inherit;
        text-align: center;
    }

    .theme_quizz {
        right: 0;
        left: 0;
        margin: auto;
    }

    .content_proposition {
        padding: 20px 20px 40px 20px;
    }

    .image_question {
        display: block;
        width: 100%;
        text-align: center;
        max-width: 250px;
        margin: 0 auto 35px;
    }

    .liste_proposition {
        display: block;
        width: 100%;
    }

    .choix_reponse button {
        margin: 0 2px;
        width: 60px;
        height: 50px;
        line-height: 50px;
    }

    /*** page instruction ***/
    div#content_instruction {
        padding-top: 125px;
    }

    div#content_instruction .theme_quizz {
        top: -110px;
    }

    .bloc_instruction .content_proposition > p {
        font-size: 25px;
        padding: 0;
    }

}